{% extends "base.html" %}

{% block left_col %}
    <div class="col-md-2">
           <div class="panel panel-default">
                <div class="panel-heading">
                    <a href="#">房源管理</a>
                    <a style="float:right;" href="#">+</a>
                </div>
                <div class="panel-body">
                    <ul class="nav nav-stack">
                        <li><a href="/user/house/add">添加房源</a></li>
                        <li><a href="/user/house/alter">修改房源</a></li>
                        <li><a href="/user/house/find">查找房源</a></li>
                    </ul>
                </div>
            </div>
    </div>
{% endblock %}

{% block center %}
    <div class="col-md-10">
    <div class="input-group">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" onclick="searchHouse()">搜索</button>
                </span>
                <input type="text" class="form-control" placeholder="输入您要查找的关键词，多关键词用空格隔开" aria-describedby="basic-addon1" id="keyword">
    </div>
    <table class="table table-condensed table-striped">
        <thead>
            <tr>
                <th>编号</th>
                <th>姓名</th>
                <th>小区</th>
                <th>电话</th>
                <th>价格</th>
                <th>面积</th>
                <th>位置</th>
                <th>户型</th>
                <th>备注</th>
            </tr>
        </thead>
        <tbody id="tab">
 <!--           <tr>
                <th>1</th>
                <th>尼古拉斯</th>
                <th>马尔布街</th>
                <th>123456789101</th>
                <th>50万</th>
                <th>80</th>
                <th>11-1-203</th>
                <th>一室一厅一卫</th>
                <th>精装满两年</th>
            -->
        </tbody>
    </table>
    </div>
    <script>
    function searchHouse() {
        $.ajaxSetup({
                data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
                });
        datas={"keyword":document.getElementById("keyword").value.split("\s+")};
        for(var i=0;i<datas["keyword"].length;i++)
            datas["keyword"][i].replace("\s","");
        $.ajax({
            type:"POST",
            url:"/user/house/find/",
            data:datas,
            dataType:"json",
            success:function (data) {
                tabstr="";
{#                console.log(tabstr);#}
                for(var j in data["res"])
                {
                    i=data["res"][j];
{#                    console.log(i);#}
                    tabstr+=("<tr><th><a href=\"/user/house/detail?id="+i.ID
                        +"\">"+i.ID+"</a></th> <th>"+i.name
                        +"</th> <th>"+i.community
                        +"</th> <th>"+i.phone
                        +"</th> <th>"+i.price
                        +"</th> <th>"+i.area
                        +"</th> <th>"+i.pos
                        +"</th> <th>"+i.type
                        +"</th> <th>"+i.other
                        +"</th> </tr>");

                }
{#                console.log(("<tr><th><a href=\"/user/house/detail?id="+i.ID +"\"">i.ID+"</a></th> <th>"+i.name+"</th> <th>"+i.community+"</th> <th>"+i.phone+"</th> <th>"+i.price+"</th> <th>"+i.area+"</th> <th>"+i.pos+"</th> <th>"+i.type+"</th> <th>"+i.other +"</th> </tr>"));#}
                document.getElementById("tab").innerHTML=tabstr;
            }
        })
{#        console.log(data);#}
    }
    </script>
{% endblock %}