<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>管理页面-测试</title>
        <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <nav class="navbar navbar-default">
                    <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="{% url 'main' %}">管理平台<span class="badge">新</span></a>
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li role="presentation" class="active"><a href="{% url 'main' %}">总览</a></li>
                            <li role="presentation"><a href="{% url 'house' %}">房源</a></li>
                            <li role="presentation"><a href="{% url 'client' %}">客户</a></li>
                            <li role="presentation"><a href="{% url 'achievement' %}">业绩</a></li>
                            <li role="presentation"><a href="{% url 'manage' %}">管理</a></li>
                        </ul>
                    </div>
                    </div>
                </nav>
            </div>
            <div class="row">
                <div class="col-md-2">
                    {% block left_col %}

                    <div class="panel-body panel-info">
                        <div class="panel-body">
                            <ul class="nav nav-pills nav-stacked">
                                <li role="presentation"><a href="{% url 'main' %}">添加公告1</a></li>
                                <li role="presentation"><a href="{% url 'main' %}">添加公告</a></li>
                                <li role="presentation"><a href="{% url 'main' %}">添加公告</a></li>
                                <li role="presentation"><a href="{% url 'main' %}">添加公告</a></li>
                                <li role="presentation"><a href="{% url 'main' %}">添加公告</a></li>
                                <li role="presentation"><a href="{% url 'main' %}">添加公告</a></li>
                                <li role="presentation"><a href="{% url 'main' %}">添加公告</a></li>
                            </ul>
                        </div>
                    </div>

                    {% endblock %}
                </div>

                <div class="col-md-10">
                    {% block center %}

                    {% endblock %}
                </div>


                <div class="col-md-10">
                </div>
            </div>
        </div>

        <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </body>
</html>