{% extends "base.html" %}

{% block left_col %}
    <div class="panel-body panel-info">
        <div class="panel-body">
            <ul class="nav nav-pills nav-stacked">
                <li role="presentation"><a href="{% url 'main' %}">添加公告1</a></li>
                <li role="presentation"><a href="{% url 'main' %}">添加公告</a></li>
                <li role="presentation"><a href="{% url 'main' %}">添加公告</a></li>
                <li role="presentation"><a href="{% url 'main' %}">添加公告</a></li>
                <li role="presentation"><a href="{% url 'main' %}">添加公告</a></li>
                <li role="presentation"><a href="{% url 'main' %}">添加公告</a></li>
                <li role="presentation"><a href="{% url 'main' %}">添加公告</a></li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block center %}

{% endblock %}