{% extends "base.html" %}

{% block left_col %}
    <div class="panel-body panel-info">
        <div class="panel-body">
            <ul class="nav nav-pills nav-stacked">
                <li role="presentation"><a href="{% url 'main' %}">主页</a></li>
                <li role="presentation"><a href="{% url 'add_house' %}">添加数据</a></li>
                <li role="presentation"><a href="{% url 'house' %}">查看房源</a></li>
                <li role="presentation"><a href="{% url 'logout' %}">退出登录</a></li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block center %}

{% endblock %}